button{
    width:100px;
    height: 100px;
    border-radius: 50px;
    border: 2px solid black;
    background-color: grey;
    color:white;
    font-size:2rem;
    cursor: pointer;
}

#nos{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:20px;
    padding: 25px;;
}

#calculator{
    font-family: Garamond, sans-serif;
    background-color: rgb(44, 44, 46);
    border-radius: 15px;
    max-width: 500px;
    overflow:hidden;
}

#display{
    width:400px;
    padding: 20px;
    font-size: 3rem;
    text-align: right;
    border: 3px solid black;
    color:white;
    background-color: rgb(175, 173, 173);
}

body{
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    justify-content: center;
    background-color: rgb(245, 245, 177);
}

button:hover{
    background-color: rgb(167, 164, 164);
}
button:active{
    background-color: rgb(236, 235, 235);
}
.operator-btn{
    background-color: orange;
}
.operator-btn:hover{
    background-color: rgb(231, 186, 103);
}
.operator-btn:active{
    background-color: rgb(249, 245, 236);
}
